@inherits LayoutComponentBase

<PageTitle>cr-sports</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            <img src="img/userpic.png" width="30" height="30"/>
            Alexandre Laborde
            <button class="btn btn-primary">Log out</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
