@*@page "/counter"

	<PageTitle>Counter</PageTitle>

	<h1>Counter</h1>

	<p role="status">Current count: @currentCount</p>

	<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

	@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
	currentCount++;
	}
	}*@


@page "/volleyball"

<PageTitle>Volleyball</PageTitle>





<div class="container-fluid">
	<div class="row">
		<div class="col-6" style="border-radius:15px;background-color:#f4f4f4;padding:20px;">
			<h1>Next Match</h1>
			<p><span class="oi oi-map-marker"></span> Av. 24 de Julho 30, 1200-225 Lisboa</p>
			<p><span class="oi oi-calendar"></span>  13/Feb/2022, 18:00</p>
			<p><span class="oi oi-clock"></span> 2 hours</p>
			<p><span class="oi oi-people"></span> 10</p>
			<p><span class="oi oi-euro"></span> 5 </p>
		</div>
		<div class="col-6">
			<h1>Details</h1>
			@*<p><b>Location:</b> Av. 24 de Julho 30, 1200-225 Lisboa</p>
				<p><b>Regular schedule:</b> Every Wedenesay, 18:00</p>
				<p><b>Match duration:</b> 2 hours</p>
				<p><b>Minimum Number of players:</b> 8</p>*@
			<p><span class="oi oi-map-marker"></span> Av. 24 de Julho 30, 1200-225 Lisboa</p>
			<p><span class="oi oi-calendar"></span> Wednesdays, 18:00</p>
			<p><span class="oi oi-clock"></span> 2 hours</p>
			<p><span class="oi oi-people"></span> 8</p>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><h3>Playing next match (10)</h3></th>
					</tr>
				</thead>
				<tbody>
					<tr><td><img src="img/default.png" width="30" height="30" /> Allen Nelson</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Charlize Soto</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Devin Lloyd</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Dorian Rogers Machado</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Hillary Haney</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Holly Arias</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Jenna Beck</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Kaitlyn Hull</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Malia Ferrell</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Nevaeh Vaughn</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Theodore Barron</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Tristen Taylor</td></tr>
				</tbody>
			</table>
		</div>
		<div class="col-6">
@*			<table class="table table-responsive table-sm" style="background: white;text-align: left;border-radius: 15px;box-shadow: 5px 5px 5px #f0f0f0;">
				<thead>
					<tr>
						<th><h3>Subscribed Players (30)</h3></th>
					</tr>
				</thead>
				<tbody>
					<tr><td><img src="img/default.png" width="30" height="30" /> Abdullah Mcconnell</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Allen Nelson</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Amira Bernard</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Beckett Robinson</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Belinda Gomez</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Bo Madden</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Camila Romero</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Charlize Soto</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Cornelius Savage</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Delaney Powers</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Devin Lloyd</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Dorian Rogers Machado</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Gregory Ford</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Heidi Patton</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Hillary Haney</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Holly Arias</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Jenna Beck</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Johnathon Munoz</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Kaitlyn Hull</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Kenley Jefferson</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Malia Ferrell</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Marc Decker</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Mylee King</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Nevaeh Vaughn</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Rayne Miller</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Sarah Williams</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Theodore Barron</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Trenton Santana</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Tristen Taylor</td></tr>
					<tr><td><img src="img/default.png" width="30" height="30" /> Zion Strong</td></tr>
				</tbody>
			</table>*@

			<ul class="list-group list-group-flush">
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Abdullah Mcconnell</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Allen Nelson</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Amira Bernard</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Beckett Robinson</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Belinda Gomez</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Bo Madden</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Camila Romero</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Charlize Soto</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Cornelius Savage</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Delaney Powers</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Devin Lloyd</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Dorian Rogers Machado</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Gregory Ford</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Heidi Patton</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Hillary Haney</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Holly Arias</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Jenna Beck</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Johnathon Munoz</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Kaitlyn Hull</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Kenley Jefferson</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Malia Ferrell</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Marc Decker</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Mylee King</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Nevaeh Vaughn</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Rayne Miller</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Sarah Williams</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Theodore Barron</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Trenton Santana</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Tristen Taylor</li>
<li class="list-group-item"><img src="img/default.png" width="30" height="30" /> Zion Strong</li>
</ul>

		</div>
	</div>
</div>
